<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/top-rated">Top Rated Movies</a></li>
            <li><a href="/upcoming">Upcoming Movies</a></li>
            <li><a href="/random">Random Movie</a></li>
        </ul>
    </nav>
    <hr>
</header>
