<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Gallery</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>

    <main class="main-content">
        <h1>Movie Gallery</h1>
        
        <p>Welcome to the Movie Gallery! Browse our collection of movies below:</p>

      
    </main>

   
</body>
<%- include('partials/footer') %>
</html>